<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8">
        
    </head>

    <body>

        <main>

            <form action="event-register" method="post">
                
                <h2></h2>

                <label id="eventDate">Event Date:</label>
                
                <input type="date" id="eventDate">

                <br>
                <br>
                
                <label>Event type: </label>

                <select>

                    <option value="diagnosis">Diagnosis</option>
                    <option value="procedure">Procedure</option>
                    <option value="drug adminstration">Drug adminstration</option>
                </select>

                <br>
                <br>

                <label for="eventDescription">Event description:</label>

                <textarea id="eventDescription"></textarea>

                <br>
                <br>

                <label for="eventConcept">Event Concept</label>

                <input type="text" id="eventConcept">
                
                <br>
                <br>

                <input type="submit" value="submit">
            </form>

        </main>

    </body>


</html>