<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <link href="/public/css/app.css" rel="stylesheet">
    </head>

    <body>

    <div class="user-nav">
            <a class="" href="/person/add">Register Person</a>
            <a class="" href="/healthevent/add">Register Health Event</a>
            <a class="logout" href="/logout">Logout</a>
    </div>
        
    </body>

</html>