<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" >
  </head>
  <body>
    
    <main>
        <p>
            You have been logged out
        </p>
    </main>
</body>
</html>