<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Admin Registration</title>
    </head>
    
    <body>

        <main>

            <h2>Registration Page</h2>
            
            <form action="/register" id="registration-form" method="post" >
                

                <label for="emailAddressInput">Email :</label>
                <input type="email" name="emailAddressInput" id="emailAddressInput">
                <br>
                <br>
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput">
                <br>
                <br>
                <label for="confirmPasswordInput">Confirm Password:</label>
                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
                <br>
                <br>
                <input type="submit" value="Register">
            </form>

        </main>

        <p class="text-white mb-0"></p>
    </body>

</html>

